.aircraft-item {
	margin: 0;
	padding: 0;
	height: 12rem;

	@include respond-to(phone) {
		height: auto;
	}
	i {
		font-size: 2.2rem;
		color: #242424;
	}

	.aircraft-image {
		@include respond-to(phone) {
			display: none;
		}

		display: block;
		max-height: 10rem;
		max-width: 15rem;
	}
}
